
Manta_Engine/Manta_Engine.sln
Manta_Engine/Sandbox/Sandbox.vcxproj
Manta_Engine/Manta/Manta.vcxproj
Manta_Engine/Manta/Manta.vcxproj.filters
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
